option_settings:
  aws:elasticabeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:listener:80:
    DefaultProcess: default
    ListenerEnabled: true
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:default:
    Port: 80
    Protocol: HTTP
    HealtchCheckPath: /
    HealthCheckTimeout: 30
    HealthCheckInterval: 60
    MatcherHTTPCode: 200
