<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div id="login">
        <v-app id="inspire">
            <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <p class="text-xs-center display-1">ログイン</p>
                            <v-card class="elevation-12">
                                <v-card-text>
                                    <v-form>
                                        {% csrf_token %}
                                        <v-text-field prepend-icon="email" v-model="email" name="email" label="メールアドレス" type="text"></v-text-field>
                                        <v-text-field prepend-icon="lock"  v-model="password" name="password" label="パスワード" id="password" type="password"></v-text-field>
                                    <v-btn @click="submit" color="accent">ログイン</v-btn>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="submit" color="accent">ログイン</v-btn>
                                    <v-btn @click="clear">clear</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
    {% load static %}
{#    <script src="{% static 'js/common/index.js' %}"></script>#}
{#    <script src="{% static 'js/index.js' %}"></script>#}
    <script src="{% static 'js/common/bundle.js' %}"></script>
{#    <script>#}
{#        import axios from 'axios'#}
{#        export default {#}
{#            methods: {#}
{#                submit(){#}
{#                    axios.post('/', {#}
{#                        email: this.email,#}
{#                        password: this.password#}
{#                    })#}
{#                },#}
{#                clear(){#}
{#                    this.$refs.form.reset()#}
{#                }#}
{#            },#}
{#        }#}
{#    </script>#}



</body>
</html>
